input[type="date"]::-webkit-inner-spin-button{display:none;}::-webkit-clear-button{display:none;}
input[type="number"]::-webkit-inner-spin-button{display:none;}

.m05 {margin-top:0.5em;}
.m10 {margin-top:1em;}
.m15 {margin-top:1.5em;}
.m20 {margin-top:2em;}
.m25 {margin-top:2.5em;}
.m30 {margin-top:3em;}
.m40 {margin-top:4em;}
.m50 {margin-top:5em;}
.ct {text-align:center;}
.rt {text-align:right;}
.red {color:#b40000;}
.ylw {color:#b09000;}
.grn {color:#00a000;}
.msg {color:#b40000; margin-bottom:12px; display:none; border:1px solid #b40000; padding:6px 10px;}
.brd {margin-left:25%; length:50%; margin-right:25%; border:1px solid black; padding:6px 10px;}
.brd_red {margin-left:25%; length:50%; margin-right:25%; border:1px solid #b40000; padding:6px 10px;}
.brd_ylw {margin-left:25%; length:50%; margin-right:25%; border:1px solid #b09000; padding:6px 10px;}
.brd_grn {margin-left:25%; length:50%; margin-right:25%; border:1px solid #00a000; padding:6px 10px;}
.w100p {width:100%;}
.pt {padding-top: 8px;}
